<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.exomatik.balligh.balligh">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".Activity.ActSplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ActMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Authentication.ActSignIn"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Authentication.ActSignUp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Authentication.ActLanding"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity.Authentication.ActResetPassword" />
        <activity android:name=".Activity.Authentication.ActWelcome"></activity>
    </application>

</manifest>